<div class="py-5 text-center">
    <h2>Add New Book Stock</h2>
    <p class="lead">
      Please fill the book details correctly and visit the list section
    </p>
</div>
  
  <div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputbookName4">Book Name</label>
          <input
            type="text"
            class="form-control"
            id="inputbookName4"
            placeholder="bookName"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputTotalQuantity4">Total Quantity</label>
          <input
            type="number"
            class="form-control"
            id="inputTotalQuantity4"
            placeholder="Total Quantity"
          /> 
        </div>
      </div>
      <div class="form-group">
        <label for="inputPrice">Price</label>
        <input
          type="number"
          class="form-control"
          id="inputPrice"
          placeholder="1234 Main St"
        />
      </div>
      <div class="form-group">
        <label for="inputAuthor">Author</label>
        <input
          type="text"
          class="form-control"
          id="inputAuthor"
          placeholder="Apartment, studio, or floor"
        />
      </div>

      <div class="form-group">
        <label for="inputAuthor">Book Discription</label>
        <textarea
          type="text"
          class="form-control"
          id="inputAuthor"
          placeholder="Apartment, studio, or floor">
        </textarea>
      </div>

     
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"> Check me out </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">ADD Book</button>
    </form>
  </div>
  